.container {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}
.autor {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
    background-color: skyblue;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 5px;
}